body{
    
    background-image: url("images/bg2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    font-family:serif;
    color: rgb(21, 83, 13);
    text-decoration-color: rgb(165, 32, 32);
}

#image{
    width: 80%;
    margin-left: 8rem;
    border-radius: 8px;
}
  
#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 20px;
    
}
.grid-item{
    margin: 30px;
    height: 200px;
    /* width: 100px; */
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    position: relative;
    background: linear-gradient(rgb(247, 216, 221),rgb(243, 243, 205),rgb(192, 228, 192));
}

.grid-item:hover{
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    
}

.state-name{
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: darkblue;
}

.aqi{
    font-size: 20px;
    text-align: center;
}
.box{
    position: absolute;
    left: 45%;

    height: 20px;
    width: 30px;
    border: 1px solid black;
    /* margin-left: 140px; */
}